[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

peewee = "*"
sphinx = "*"
flask = "*"
click = "*"
pyyaml = "*"


[dev-packages]

pylint = "*"
setuptools = "*"


[requires]

python_version = "3.6"
